body{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background :
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
    url("/images/swirl_pattern.png");
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

li > a:link, li > a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bolder;
  color: DarkRed;
}

hr {
  width: 80%;
}

input {
  width: 150px;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

nav{
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #8C001A;
}

nav > ul {
  margin: 0;
  padding-top: 1em;
  padding-left: .5em;
  overflow: hidden;
  list-style-type: none;
  font-size: 18px;
}

textarea {
  width: 40%;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

.author {
  margin-right: .3em;
  font-weight: bold;
  color: #8C001A;
}

.feedh3{
  position: relative;
  left: 150px;
  text-align: left;
  color: white;
}

.formh2 {
  margin-top: 1em;
  font-weight: bold;
  color: black;
}

.navbar {
  display: inline;
  padding-right: 2em;
}

#editform{
  width: 500px;
  height: 300px;
  position: relative;
  margin: 40px auto;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

#feedfirsth2{
  text-align: center;
  color: white;
}

#feedform{
  text-align: center;
}

#newsfeed{
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

#homeh4{
  padding-top: 60px;
}

#homeform{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

#homepage {
  display: inline-block;
  text-align: left;
  font-size: 72px;
  color: #8C001A;
  font-family: 'Kaushan Script', cursive;
  text-shadow:0 .032em 0 #8C001A .15em .11em rgba(255,255,255,.15),0 .25em .021em rgba(255,255,255,.1),0 .32em .32em rgba(255,255,255,.2);color:#8C001A;
}

#profileh4{
  text-align: center;
  font-size: 24px;
  color: black;
}

#left{
  width: 25%;
  display: inline-block;
  margin: 40px 50px 0 20px;
  vertical-align: top;
  padding: 1em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

#pigeon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 30px 30px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#right{
  width: 50%;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

#signupform{
	width: 450px;
  height: 400px;
  position: relative;
  margin: 40px auto;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
}

#signout {
  float: right;
}

#submit {
  width: 80px;
  position: relative;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  -webkit-transition: width 2s;
}

#submit:hover {
  width: 150px;
}

#warn {
  font-size: small;
  color: DarkRed;
}

#your_posts {
  padding: 1em;
}













