<form  id ="editform" method="POST" action="edit">

<h2 class = "formh2"> Update your account </h2>

  <input type="text" name="[user]username" placeholder="Username">
  <input type="text" name="[user]email" placeholder="Email">

<h2 class = "formh2"> Update your profile </h2>

  <input type="text" name="[profile]city" placeholder="city">
  <input type="text" name="[profile]description" placeholder="Bio">
  <br>
  <input type="submit" id="submit">
</form>


