
<h2 id = "editfirsth2"> Update your account </h2>

<form  id ="editfirstform" method="POST" action="edit">
  <input type="text" name="[user]username" placeholder="Username">
  <input type="text" name="[user]email" placeholder="Email">

<h2 id = "editsecondh2"> Update your profile </h2>

<form  id ="editsecondform" method="POST" action="edit">
  <input type="text" name="[profile]city" placeholder="city">
  <input type="text" name="[profile]description" placeholder="Bio">
  <input type="submit">
</form>


