  <h2 id = "feedfirsth2">Welcome to your Nneomnewsfeed, <%= @user.username %>!</h2>
  <h2 id = "feedsecondh2">Add a new post here:</h2>

  <form id = "feedform" method="POST" action="/feed">
    <textarea row="5" type="text" name="body" placeholder="Add a new post" maxlength="150" width: 400px; height: 50px;></textarea>
    <input type="submit">
  </form>

  <h3 id = "feedh3">What's up?</h3>
  <section id = "newsfeed">
  <% @feed_posts.reverse.each do |post| %>
    <p> 
      <h5> 
        <%= User.find(post.user_id).username || "Nneomate" %>:
      </h5>
      <%= post.body %>
    </p>
    <hr>
  <% end %>
</section>
