<html>
<head>
  <title></title>
</head>
<body>
  <h2>Welcome to your Nneomnewsfeed, <%= @user.username %>!</h2>
  <h2>Add a new post here:</h2>

  <form method="POST" action="/feed">
    <textarea row="5" type="text" name="body" placeholder="Add a new post" maxlength="150" width: 400px; height: 50px;></textarea>
    <input type="submit">
  </form>

  <h3>What's up?</h3>
  <section id = "newsfeed">
  <% @feed_posts.reverse.each do |post| %>
    <p>

      <%= post.user_id %>
      <%= post.body %>

    </p>
  <% end %>
</section>

</body>
</html>

