<h4 id = "homeh4"> Already a member? Sign in: </h4>

<form id = "homeform"  method="POST" action="sign-in">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>
  
Not a member yet? <a href = "/sign-up">click here</a>
