<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href= "/stylesheet/main.css">
  <script src= "main.js"></script>
  <title><%= @title %></title>
</head>

<body>

  <form  id = "signupform" method="POST" action="sign-up">
    <h2 class="formh2">Sign up for your Nneoma account:</h2>
    <input type="text" name="[user]username" required placeholder="Username">
    <br>
    <input type="email" name="[user]email" required placeholder="Email">
    <br>
    <input type="password" name="[user]password" required placeholder="Password">
    <br>
    <input type="password" name="confirm_password"  required placeholder="Confirm Password">
    <br>
    <input type="text" name="[profile]city" required placeholder="City">
    <br>
    <input type="text" name="[profile]description" required placeholder="Bio">
    <br>
    <input type="submit" id="submit">
  </form>
</body>
</html>