<form method="POST" action="sign-up">
  <input type="text" name="[user]username" required placeholder="Username">
  <input type="email" name="[user]email" required placeholder="Email">
  <input type="password" name="[user]password" required placeholder="Password">
  <input type="password" name="confirm_password"  required placeholder="Confirm Password">
  <input type="text" name="[profile]city" required placeholder="City">
  <input type="text" name="[profile]description" required placeholder="Bio">
  <input type="submit">
</form>